body {
  background-color:#c0986b;;
 
}

.button-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #2980b9;
}
