<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/CSS/loginStyle.css}">
</head>
<body>
<div class="login-container">
<h1>LOGIN PAGE</h1>
	<form action="validate" method="post" class="login-form">
	<label for="email">Email:</label>
            <input type="email" name="email">

            <label for="password">Password:</label>
            <input type="password" name="password">

            <input type="submit" value="Login">
    </form>
</div>
</body>
</html>